streamlit
plotly>=5.0.0
folium
streamlit-folium
scikit-learn
requests
numpy
pandas
matplotlib
seaborn
json
datetime
time
sklearn
warnings
io
smtplib
email.mime.text
email.mime.multipart
gspread
google.oauth.service_account

